In [162]:
import pandas as pd

In [163]:
initial_data = pd.read_csv('taxonomic_data.csv')

In [164]:
initial_data.head()

        Superordinate Basic Level    Subordinate_1     Subordinate_2
0  Musical Instrument      Guitar      Folk guitar  Classical guitar
1  Musical Instrument       Piano      Grand piano     Upright piano
2  Musical Instrument        Drum      Kettle drum         Base drum
3               Fruit       Apple  Delicious apple  Mackintosh apple
4               Fruit       Peach  Freestone peach       Cling peach

In [165]:

# Melt the DataFrame to combine 'Subordinate_1' and 'Subordinate_2' columns
melted_data = pd.melt(initial_data, id_vars=['Superordinate', 'Basic Level'], value_vars=['Subordinate_1', 'Subordinate_2'], value_name='Subordinate')

# Drop the 'variable' column, as it is no longer needed
melted_data = melted_data.drop(columns='variable')

# Sort the DataFrame based on 'Superordinate' and 'Basic Level'
result_data = melted_data.sort_values(by=['Superordinate', 'Basic Level']).reset_index(drop=True)

print(result_data)

         Superordinate  Basic Level             Subordinate
0                 Bird     Cardinal         Easter cardinal
1                 Bird     Cardinal    Grey tailed cardinal
2                 Bird        Eagle              Bald eagle
3                 Bird        Eagle            Golden eagle
4                 Bird      Sparrow            Song sparrow
5                 Bird      Sparrow           Field sparrow
6             Clothing        Pants                   Levis
7             Clothing        Pants       Double knit pants
8             Clothing        Shirt             Dress shirt
9             Clothing        Shirt              Knit shirt
10            Clothing        Socks              Knee socks
11            Clothing        Socks             Ankle socks
12                Fish         Bass                Sea bass
13                Fish         Bass            Striped bass
14                Fish       Salmon         Blueback salmon
15                Fish       Salmon          Chinook salmon
16                Fish        Trout           Rainbow trout
17                Fish        Trout         Steelhead trout
18               Fruit        Apple         Delicious apple
19               Fruit        Apple        Mackintosh apple
20               Fruit       Grapes          Concord grapes
21               Fruit       Grapes   Green seedless grapes
22               Fruit        Peach         Freestone peach
23               Fruit        Peach             Cling peach
24           Furniture        Chair           Kitchen chair
25           Furniture        Chair       Living room chair
26           Furniture         Lamp              Floor lamp
27           Furniture         Lamp               Desk lamp
28           Furniture        Table           Kitchen table
29           Furniture        Table       Dining room table
30  Musical Instrument         Drum             Kettle drum
31  Musical Instrument         Drum               Base drum
32  Musical Instrument       Guitar             Folk guitar
33  Musical Instrument       Guitar        Classical guitar
34  Musical Instrument        Piano             Grand piano
35  Musical Instrument        Piano           Upright piano
36                Tool       Hammer        Ball-peen hammer
37                Tool       Hammer             Claw hammer
38                Tool          Saw           Hack hand saw
39                Tool          Saw  Cross-cutting hand saw
40                Tool  Screwdriver    Phillips screwdriver
41                Tool  Screwdriver     Regular screwdriver
42                Tree        Birch             River birch
43                Tree        Birch             White birch
44                Tree        Maple            Silver maple
45                Tree        Maple             Sugar maple
46                Tree          Oak               White oak
47                Tree          Oak                 Red oak
48             Vehicle          Bus                City bus
49             Vehicle          Bus       Cross country bus
50             Vehicle          Car              Sports car
51             Vehicle          Car     Four door sedan car
52             Vehicle        Truck           Pick up truck
53             Vehicle        Truck   Tractor-trailer truck

In [166]:
superordinate_set = set(result_data['Superordinate'])
superordinate_set

{'Bird',
 'Clothing',
 'Fish',
 'Fruit',
 'Furniture',
 'Musical Instrument',
 'Tool',
 'Tree',
 'Vehicle'}

In [167]:
subordinate_set = set(result_data['Subordinate'])
subordinate_set

{'Ankle socks',
 'Bald eagle',
 'Ball-peen hammer',
 'Base drum',
 'Blueback salmon',
 'Chinook salmon',
 'City bus',
 'Classical guitar',
 'Claw hammer',
 'Cling peach',
 'Concord grapes',
 'Cross country bus',
 'Cross-cutting hand saw',
 'Delicious apple',
 'Desk lamp',
 'Dining room table',
 'Double knit pants',
 'Dress shirt',
 'Easter cardinal',
 'Field sparrow',
 'Floor lamp',
 'Folk guitar',
 'Four door sedan car',
 'Freestone peach',
 'Golden eagle',
 'Grand piano',
 'Green seedless grapes',
 'Grey tailed cardinal',
 'Hack hand saw',
 'Kettle drum',
 'Kitchen chair',
 'Kitchen table',
 'Knee socks',
 'Knit shirt',
 'Levis',
 'Living room chair',
 'Mackintosh apple',
 'Phillips screwdriver',
 'Pick up truck',
 'Rainbow trout',
 'Red oak',
 'Regular screwdriver',
 'River birch',
 'Sea bass',
 'Silver maple',
 'Song sparrow',
 'Sports car',
 'Steelhead trout',
 'Striped bass',
 'Sugar maple',
 'Tractor-trailer truck',
 'Upright piano',
 'White birch',
 'White oak'}

In [168]:
basic_set = set(result_data['Basic Level'])
basic_set

{'Apple',
 'Bass',
 'Birch',
 'Bus',
 'Car',
 'Cardinal',
 'Chair',
 'Drum',
 'Eagle',
 'Grapes',
 'Guitar',
 'Hammer',
 'Lamp',
 'Maple',
 'Oak',
 'Pants',
 'Peach',
 'Piano',
 'Salmon',
 'Saw',
 'Screwdriver',
 'Shirt',
 'Socks',
 'Sparrow',
 'Table',
 'Trout',
 'Truck'}

In [273]:
import random

In [274]:
exp_data = pd.DataFrame()
exp_data['Priming'] = result_data['Superordinate'].apply(lambda input: input + '. ')
exp_data['Subordinate'] = result_data['Subordinate']
exp_data['Predict'] = result_data['Superordinate']

exp_data.head()

  Priming           Subordinate Predict
0  Bird.        Easter cardinal    Bird
1  Bird.   Grey tailed cardinal    Bird
2  Bird.             Bald eagle    Bird
3  Bird.           Golden eagle    Bird
4  Bird.           Song sparrow    Bird

In [276]:
def getAlternateSuper(item):
    choice = random.choice(tuple(superordinate_set)) + '. '
    while(choice == item):
        print('hi!')
        choice = random.choice(tuple(superordinate_set))+ '. '
    return choice

In [277]:
false_priming_exp = exp_data.copy()
false_priming_exp['Priming'] = exp_data['Priming'].apply(getAlternateSuper)
false_priming_exp['Predict'] = result_data['Superordinate']
false_priming_exp.head()

hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!

       Priming           Subordinate Predict
0  Furniture.        Easter cardinal    Bird
1       Tool.   Grey tailed cardinal    Bird
2  Furniture.             Bald eagle    Bird
3       Tool.           Golden eagle    Bird
4      Fruit.           Song sparrow    Bird

In [278]:
false_priming_exp.head()

       Priming           Subordinate Predict
0  Furniture.        Easter cardinal    Bird
1       Tool.   Grey tailed cardinal    Bird
2  Furniture.             Bald eagle    Bird
3       Tool.           Golden eagle    Bird
4      Fruit.           Song sparrow    Bird

In [279]:
empty_priming = exp_data.copy()
empty_priming['Priming'] = exp_data['Priming'].apply(lambda category: "")
false_priming_exp['Predict'] = result_data['Superordinate']

In [281]:
empty_priming.head()

  Priming           Subordinate Predict
0               Easter cardinal    Bird
1          Grey tailed cardinal    Bird
2                    Bald eagle    Bird
3                  Golden eagle    Bird
4                  Song sparrow    Bird

In [282]:
exp_data.head()
exp_data['Right'] = 1
exp_data.head()

  Priming           Subordinate Predict  Right
0  Bird.        Easter cardinal    Bird      1
1  Bird.   Grey tailed cardinal    Bird      1
2  Bird.             Bald eagle    Bird      1
3  Bird.           Golden eagle    Bird      1
4  Bird.           Song sparrow    Bird      1

In [283]:
false_priming_exp['Right'] = -1
empty_priming['Right'] = 0

In [284]:
entire_super_exp = pd.concat([empty_priming,exp_data, false_priming_exp])

In [285]:
entire_super_exp['Subordinate'] = entire_super_exp['Subordinate'].apply(lambda input: input + ' is a type of ')
entire_super_exp['Predict'] = entire_super_exp['Predict'].apply(lambda input: input + '.')
entire_super_exp = entire_super_exp.sort_values(by=['Subordinate', 'Right'])

entire_super_exp = entire_super_exp.set_index('Subordinate')

In [325]:
entire_super_exp.to_csv('Superordinate_experiment.csv')

In [286]:
entire_super_exp.head()

                               Priming    Predict  Right
Subordinate
Ankle socks is a type of        Fish.   Clothing.     -1
Ankle socks is a type of                Clothing.      0
Ankle socks is a type of    Clothing.   Clothing.      1
Bald eagle is a type of    Furniture.       Bird.     -1
Bald eagle is a type of                     Bird.      0

In [327]:
exp_data_basic = pd.DataFrame()
exp_data_basic['Priming'] = result_data['Basic Level'].apply(lambda input: input + '. ')
exp_data_basic['Subordinate'] = result_data['Subordinate']
exp_data_basic['Predict'] = result_data['Basic Level'].apply(lambda input: input + '. ')

In [328]:
exp_data_basic.head()

      Priming           Subordinate     Predict
0  Cardinal.        Easter cardinal  Cardinal.
1  Cardinal.   Grey tailed cardinal  Cardinal.
2     Eagle.             Bald eagle     Eagle.
3     Eagle.           Golden eagle     Eagle.
4   Sparrow.           Song sparrow   Sparrow.

In [329]:
super_for_basic = {y : x for x, y in zip(result_data['Superordinate'].apply(lambda input: input + '. '), result_data['Basic Level'].apply(lambda input: input + '. '))}

def getAlternateBasic(item):
    choice = random.choice(tuple(basic_set)) + '. '
    while(super_for_basic[choice] == super_for_basic[item]):
        #print('hi!')
        choice = random.choice(tuple(basic_set)) + '. '
    return choice

In [330]:
exp_data_basic.head()

      Priming           Subordinate     Predict
0  Cardinal.        Easter cardinal  Cardinal.
1  Cardinal.   Grey tailed cardinal  Cardinal.
2     Eagle.             Bald eagle     Eagle.
3     Eagle.           Golden eagle     Eagle.
4   Sparrow.           Song sparrow   Sparrow.

In [331]:
false_priming_exp_basic = exp_data_basic.copy()
false_priming_exp_basic['Priming'] = false_priming_exp_basic['Priming'].apply(getAlternateBasic)

In [332]:
false_priming_exp_basic.head()

    Priming           Subordinate     Predict
0   Peach.        Easter cardinal  Cardinal.
1     Car.   Grey tailed cardinal  Cardinal.
2   Socks.             Bald eagle     Eagle.
3   Piano.           Golden eagle     Eagle.
4  Hammer.           Song sparrow   Sparrow.

In [333]:
no_priming_exp = exp_data_basic.copy()
no_priming_exp['Priming'] = false_priming_exp['Priming'].apply(lambda input: '')
no_priming_exp.head()

  Priming           Subordinate     Predict
0               Easter cardinal  Cardinal.
1          Grey tailed cardinal  Cardinal.
2                    Bald eagle     Eagle.
3                  Golden eagle     Eagle.
4                  Song sparrow   Sparrow.

In [334]:
super_for_basic = {y : x for x, y in zip(result_data['Superordinate'], result_data['Basic Level'])}

print(super_for_basic)

{'Cardinal': 'Bird', 'Eagle': 'Bird', 'Sparrow': 'Bird', 'Pants': 'Clothing', 'Shirt': 'Clothing', 'Socks': 'Clothing', 'Bass': 'Fish', 'Salmon': 'Fish', 'Trout': 'Fish', 'Apple': 'Fruit', 'Grapes': 'Fruit', 'Peach': 'Fruit', 'Chair': 'Furniture', 'Lamp': 'Furniture', 'Table': 'Furniture', 'Drum': 'Musical Instrument', 'Guitar': 'Musical Instrument', 'Piano': 'Musical Instrument', 'Hammer': 'Tool', 'Saw': 'Tool', 'Screwdriver': 'Tool', 'Birch': 'Tree', 'Maple': 'Tree', 'Oak': 'Tree', 'Bus': 'Vehicle', 'Car': 'Vehicle', 'Truck': 'Vehicle'}

In [335]:
super_for_basic['Apple']

'Fruit'

In [336]:
exp_data_basic['Right'] = 1
false_priming_exp_basic['Right'] = -1
no_priming_exp['Right'] = 0

In [317]:
#exp_data_basic['Priming'] = exp_data_basic['Priming'].apply(lambda input: input + '. ')

In [337]:
entire_super_exp_basic = pd.concat([exp_data_basic, false_priming_exp_basic, no_priming_exp])

In [339]:
entire_super_exp_basic.head()

      Priming           Subordinate     Predict  Right
0  Cardinal.        Easter cardinal  Cardinal.       1
1  Cardinal.   Grey tailed cardinal  Cardinal.       1
2     Eagle.             Bald eagle     Eagle.       1
3     Eagle.           Golden eagle     Eagle.       1
4   Sparrow.           Song sparrow   Sparrow.       1

In [340]:
entire_super_exp_basic['Subordinate'] = entire_super_exp_basic['Subordinate'].apply(lambda input: input + ' is a type of ')
entire_super_exp_basic = entire_super_exp_basic.sort_values(by=['Subordinate', 'Right'])

entire_super_exp_basic = entire_super_exp_basic.set_index('Subordinate')
entire_super_exp_basic.head()

                           Priming  Predict  Right
Subordinate
Ankle socks is a type of   Truck.   Socks.      -1
Ankle socks is a type of            Socks.       0
Ankle socks is a type of   Socks.   Socks.       1
Bald eagle is a type of    Socks.   Eagle.      -1
Bald eagle is a type of             Eagle.       0

In [342]:
entire_super_exp_basic.to_csv('basic_level_experiment.csv')

In [269]:
entire_super_exp_basic = entire_super_exp_basic.set_index('Subordinate')

In [323]:
entire_super_exp_basic.head()

                                                     Priming  Predict  Right
Subordinate
Ankle socks is a type of  is a type of  is a ty...  Guitar.   Socks.      -1
Ankle socks is a type of  is a type of  is a ty...            Socks.       0
Ankle socks is a type of  is a type of  is a ty...   Socks.   Socks.       1
Bald eagle is a type of  is a type of  is a typ...   Socks.   Eagle.      -1
Bald eagle is a type of  is a type of  is a typ...            Eagle.       0

In [271]:
entire_super_exp_basic.to_csv('basic_level.csv')